@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap");

:root {
  --background: #131415;
  --black: #252525;
  --yellow: #ffa400;
  --red: #fc2933;
  --white: #ffffff;
  --font: "Montserrat", sans-serif;
  --gradient: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);
  --boxShadow: 0px 0px 50px rgba(1, 2, 7, 0.7);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
  font-weight: 500;
}
a {
  text-decoration: none;
  color: var(--white);
}

body {
  background-color: var(--background);
}
.nav {
  position: relative;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  margin-left: 60px;
}
.nav__img {
  width: 100px;
}
.nav__ul {
  margin-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  list-style: none;
}
.nav__li {
  position: relative;
}
.nav__link {
  font-size: 20px;
  color: var(--yellow);
}


/* Menu de cart shop */

.cart__container {
  position: absolute;
  top: 0;
  right: 0;

  backdrop-filter: blur(8px);
  background-color: #252525cb;
  width: 400px;
  border-radius: 15px;
  border: 1px solid var(--background) ;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 35px;
}
.cart__h2 {
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}
.cart__ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cart__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 350px;
  height: 100px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: var(--boxShadow);
  background-color: var(--black);

}  
/* Estilos de botones del cart menu */
  .cart__button {
    background: var(--gradient);
    box-shadow: var(--boxShadow);
    border: none;
    border-radius: 5px;
    font-weight: 500;
    color: var(--white);
    display: grid;
    place-items: center;
    height: 25px;
    width: 25px;
  }
  .cart__button:hover {
    box-shadow: 0px 0px 10px 0px var(--white);
    cursor: pointer;
  }

.cart__item--text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--white);
}
.cart__item--h3 {
  font-size: 15px;
}
.cart__item--p {
  font-size: 11px;
  font-weight: 100;
}

/* botones de cantidad */
  .count {
    display: flex;
    align-items: baseline;
    gap: 15px;
  }
  .count__counting {
    font-weight: 300;
    color: var(--white);
  }
  .count__less {
    background: #2f1e01;
  background: linear-gradient(95deg,#5f3c00 1%, #633f01 1%, #4d001d 98%);
  }  

.cart__item--img {
  width: 70px;
  object-fit: cover;
}
/* box del subtotal y total */
  .cart__values {
    margin-top: 50px;
    color: var(--white);
    font-size: 12px;
    letter-spacing: 1px;
    position: relative;
    width: 100%;
  }
  .cart__subtotal {
    font-weight: 300;
  }
  .cart__subtotal span{
    position: absolute;
    right: 0;
  }
  .cart__envio {
    font-weight: 300;
  }
  .cart__envio span {
    position: absolute;
    right: 0;
  }
  .cart__total {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid var(--white);
    font-size: 18px;
    font-weight: 500;
  }
  .cart__total span {
    position: absolute;
    right: 0;
    color: var(--yellow);
  }
  .cart__shop {
    background: var(--gradient);
    box-shadow: var(--boxShadow);
    border: none;
    color: var(--white);
    font-weight: 700;
    margin: 0 auto;
    width: 250px;
    height: 45px;
    border-radius: 15px;
  }  
  .cart__shop:hover {
      box-shadow: 0px 0px 10px 0px var(--white);
      cursor: pointer;
    }
  .cart__p {
  text-align: center;
  font-size: 10px;
  margin-top: -25px;
  margin-bottom: 20px;
}
.cart__p a {
  font-weight: 100;
}


#cart {
  font-size: 20px;
  color: var(--yellow);
}
#quantity {
  position: absolute;
  color: var(--white);
  top: -10px;
  font-size: 13px;
  background-color: var(--red);
  border: 1px solid var(--white);
  
  padding: 0 3px;
  border-radius: 50%;
  text-align: center;
}


/* Seccion del header que incluye el h1, el p, boton y la foto de la derecha */

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--white);
}
.header__container-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.header__h1 {
  display: flex;
  flex-direction: column;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1px;
}
.header__h1 span {
  font-size: 40px;
}
.header__p {
  font-size: 20px;
  font-weight: 200;
}
.header__button {
  height: 50px;
  width: 166px;
  background: var(--gradient);
  border: none;
  box-shadow: var(--boxShadow);
  border-radius: 15px;

  color: var(--white);
  font-size: 15px;
  font-weight: 500;
}
.header__button:hover {
  box-shadow: 0px 0px 10px 0px var(--white);
  cursor: pointer;
}
.header__container img {
  width: 400px;
}

main {
  margin: 100px 0;
}

/* Seccion recomendados */
.recommend {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.recommend__h2 {
  padding: 0 50px;
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

/* Cards recomendadas, renderizadas en el html  */
.recommend__card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;

  border-radius: 15px;
  box-shadow: var(--boxShadow);
  background-color: var(--black);
  width: 350px;
  height: 100px;

  color: var(--white);
}
.recommend__card--text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.recommend__card--h2 {
  font-size: 15px;
}
.recommend__card--p {
  font-size: 10px;
}
.recommend__card img {
  width: 70px;
}
.recommend__card-span {
  font-size: 17px;
}
.prices {
  font-weight: 700;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Estilos de boton agregar */
  .addButton {
    background: var(--gradient);
    padding: 8px 12px;
    border: none;
    font-size: 14px;
    border-radius: 15px;
    box-shadow: var(--boxShadow);
    font-weight: 500;
    color: var(--white);
  }
  .addButton:hover {
    box-shadow: 0px 0px 10px 0px var(--white);
    cursor: pointer;
  }

/* categorias de productos */
.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.categories_h2{
  padding: 0 50px;
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

.categories__card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 20px;

  border-radius: 15px;
  box-shadow: var(--boxShadow);
  background-color: var(--black);
  width: 147px;
  height: 171px;

  font-size: 15px;
  color: var(--white);
  cursor: pointer;
}


.categories__card img :nth-child(1) {
  width: 71px;
  height: 71px;
}

.categories__card img {
  width: 85px;
  height: 85px;
}

.categories__card hr {
  width: 24px;
  height: 4px;
  background: var(--gradient);
}


/* Categoria de populares */
.popular{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 25px;
}

.popular_card{
  background-color: #252525;
  width: 282px;
  height: 213px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.img_cardPopular{
  width: 237px;
  height: 97px;
  border-radius: 16px;
}
.text_cardPopular{
width: 55%;
}
.container_button_popularCard{
  width: 45%;
  margin-top: 55px;
  text-align: right;
}
.title_popularCard{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: var(--white);
  margin-bottom: 5px;
}
.subtitle_popularCard{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 17px;
letter-spacing: 0.5px;
color: var(--white);
mix-blend-mode: normal;
opacity: 0.3;
margin-bottom: 5px;
}

.prize_popularCard{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 131.02%;
  background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.button_popularCard{
  width: 85px;
  height: 29px;
  background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
  border-radius: 17.5px;
  font-size: 12px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  color: var(--white);
  border: none;
  cursor: pointer;
}


/* Mostrar producto de categorias */

.mostrarProdCategorias{
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}
.categoria__productos__img{
  margin: 0 auto;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}
.categoria__productos__nombre{
  color: var(--white);
}
.categoria__productos{
  position: relative;
  width: 400px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 15px;
  margin: 15px;

  background-color: var(--black);
  border-radius: 15px;
}
.categoria__productos__ingredientes{
  color: var(--white);
  opacity: 0.3;
  font-size: 15px;
  font-family: var(--font);
  font-weight: 400;
  margin-bottom: 5px;
}

.productos__container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.categoria__productos span {
  font-size: 20px;
}


/* Footer */
footer {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--white);
  font-size: 14px;
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.footer__link {
  color: var(--white);
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__p span {
  font-weight: 700;
}

.hidden {
  display: none;
}